.login-container {
  background-color: white;
  width: 410px;
  height: 300px;
  border-radius: 10px;
}
.login-title {
  font-weight: 800;
}
.login-title-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  margin-top: 10px;
  padding: 5px;
}

.login-close-btn {
  border: none;
  background: none;
  font-weight: 800;
}
.login-form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.id-input,
.pw-input {
  margin-top: 20px;
  height: 40px;
}
.login-btn {
  margin-top: 15px;

  border: none;
  background-color: black;
  color: white;
}
.find-container {
  display: flex;
  margin-top: 29.5px;
  font-size: 12px;
  justify-content: space-around;
}
.findId-content,
.findPw-content {
  text-decoration: underline;
  cursor: pointer;
  color: blue;
}
